@page
@model Science_WebSite.Pages.RegistrationModel 
@{
    ViewData["Title"] = "Registration";
}

<!-- content ================================================== -->
<div id="content">
    <!-- blog-section ================================================== -->
    <section class="blog-section single2">

        <div class="blog-post single-post">

            <div class="container">
                <h2 align="center">Регистрация@*@Model.Message и количество пользователей равно*@</h2> 
                <div class="container">

                    <div class="comment-section">
                        <form action="" class="comment-form" method="post">

                            <input asp-for="@Model.user.Name" type="text" name="name" id="name" placeholder="Имя" />
                            <span asp-validation-for="@Model.user.Name" />

                            <input asp-for="@Model.user.Email" type="email" name="email" id="email" required="required" placeholder="Электронная почта" style=" margin-bottom:20px;">
                            <span asp-validation-for="@Model.user.Email" /><br>

                            <input asp-for="@Model.user.Password" name="password" id="password" required="required" type="password" placeholder="Пароль" style=" margin-bottom:20px;">
                            <span asp-validation-for="@Model.user.Email" /><br>
                            <input type="submit" id="submit_contact" value="Зарегистрироваться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog section -->
</div>
<!-- End content -->